button{
    padding: 10px;
    background-color: orange;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

video, #canvas{
    width: 640px;
    height: 480px;
}

#canvas{    
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8px;
}

#croppedCanvas{
    position: absolute;
    top: 0;
    left: 50%;
}

#rectangleCanvas{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
}

video{
    margin-top: 8px;  
    position: absolute;
    top: 0;  
    left: 0;
}

.recognitionPhoto{
    width: 90vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cameraWrapper{
    /* display: flex; */
    gap:12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cameraButtonWrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#recognition_result{
    text-align: center;
    width: 100%;
    margin-top: 700px;
}